
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



/*About */
.about-container {
background-size: cover;
background-position: auto;
margin-left: 0;
margin-right: 0;

}







/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*logo*/
.logo {
  background:contain;
}
/*wlecome*/
.welcome {
  background-color: white;
  border: solid;
 
}
/*team-header*/
.team-header {
 font-family: 'Slabo 20px', serif;
}

/*Links*/
a{
    color: inherit;
    text-decoration: none;
}

a:hover{
  color:grey;
 
}
/*Card Elements*/
.card-img-top {
  background-size:cover;
  transition: all 1s;
}
.card-img-top:hover {
  transform: scale(0.9);
}



/*Footer*/
footer {
  color: white;
background-color:grey;

}






/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








